.guest-invite {
    //min-height: 100vh;
    //background-color: #f9fafb;
    //padding: 32px;
  
    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 24px;
    }
  
    &__actions {
      margin-top: var(--space-8);
      display: flex;
      justify-content: space-between;
    }
  
    &__primary-action {
      margin-left: auto;
    }

    &__action-icon {
      width: 1rem;
      height: 1rem;
    }

  }
  
  .continue-icon {
    margin-left: 8px;
    height: 16px;
    width: 16px;
  }