# Python virtual environment
venv/
env/
**/.env
.venv/
.python-version
.venv_py311
venv_py311/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# modules
**/node_modules/**

**/.vscode/**
