.dashboard {
    &__stats {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
      margin-bottom: 32px;
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  
    &__trips {
      margin-bottom: 32px;
    }
  }
  
  .trips-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }