.th {
    padding: 0;
  }
  
  .control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  
  .iconArrow {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    color: var(--mantine-color-gray-6)
  }

  .icon {
    width: 15px;
    height: 15px;
    //border-radius: 15px;
    color: var(--mantine-color-gray-6)
  }